{% extends "default/base.html" %}

{% block content %}
      <div class="hero-unit">
      <div class="row">
          <div class="span4">
          <h1>Not found <span>:(</span></h1>
          <p>Sorry, but the page you were trying to view does not exist.</p>
          <p>It looks like this was the result of either:</p>
          <ul>
            <li>a mistyped address</li>
            <li>an out-of-date link</li>
          </ul>
         </div>
        <div class="span2">
          &nbsp;
        </div>
        <div class="span6">
          <script>
            var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
          </script>
          <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
        </div>
      </div>
    </div>
{% endblock %}