<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>Jujubee Charm Browser</title>
  <meta name="description" content="Jujubee Charm Browser for http://juju.ubuntu.com Charms">
  <meta name="keyword" content="juju, charms, cloud, service orchestration, service deployment">
  <meta name="author" content="Brandon Holtsclaw">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/assets/css/style.css">

  <script src="/assets/js/libs/modernizr.min.js"></script>
</head>
<body>
<!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Jujube - juju Charms Browser</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/">Charms</a></li>
          <li><a href="http://juju.ubuntu.com/docs/" target="_top">What is Juju?</a></li>
          <li><a href="/charmer-tools">Charmer Tools</a></li>
          <li><a href="/jujube-faq">Jujube FAQ</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class="container">
  <div class='row'>
    <div class='span12'>